<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ProductSourceMapper">
    <!--产品系统产品  产品信息查询-->
    <select id="selectProduct" resultType="com.itheima.pojo.Product">
        select a.sku, a.spu, a.title_cn,
        a.product_category_id,
        case
        when b.end_time is null then '1970-01-01'
        else b.end_time
        end as end_time
        from yibai_prod_base.yibai_prod_sku a
        left join yibai_prod_base.yibai_prod_spu b on a.spu = b.spu
        limit 10000;
    </select>

    <!--产品系统实现图片同步数据库-->
    <select id="selectPicture"  resultType="com.itheima.pojo.ProductPicture">
        SELECT sku, concat("http://yibaistore.yibainetwork.com", url) as image, image_index
        FROM yibai_prod_base.yibai_prod_art_image
        <where>
            sku_type = 'sku'
            and image_type = 2
        </where>
        limit #{limitNum};
    </select>


    <!--产品系统实现 违禁数据同步到数据库-->
    <select id="selectForbidden"  resultType="com.itheima.pojo.ProductForbidden">
        select * from yibai_prod_base.yibai_prod_forbidden_grade
        LIMIT #{offset}, 50000;
    </select>


    <!--产品系统实现 侵权数据同步到数据库-->
    <select id="selectInfoCountry"  resultType="com.itheima.pojo.ProductInfoCountry">
        select *
        from yibai_prod_base.yibai_prod_inf_country_grade
        LIMIT #{offset}, 50000;
    </select>







</mapper>