<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- TruncateMapper.xml -->
<mapper namespace="TruncateMapper">
    <update id="truncateProduct">
        TRUNCATE TABLE product_spu_sku
    </update>

    <update id="truncateProductPicture">
        TRUNCATE TABLE product_image
    </update>

    <update id="truncate_syn_yibai_prod_forbidden_grade">
        TRUNCATE TABLE imdb.syn_yibai_prod_forbidden_grade
    </update>

    <update id="truncate_syn_yibai_prod_inf_country_grade">
        TRUNCATE TABLE imdb.syn_yibai_prod_inf_country_grade
    </update>


</mapper>
